* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: auto;
    background-color: rgba(155, 173, 235, 0.356);
}


/* utilities
*************/

.m_top {
    margin-top: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header
**********/

.site_header {
    height: 150px;
    background-color: aqua;
}

header > .logo {
    height: 90px;
    width: 12%;
    background-color: rgba(0, 0, 255, 0.521);
}

header > .page_navigation{
    height: 40px;
    width: 100%;
    background-color: rgb(87, 170, 209);
    margin-top: 20px;
}


/* main
********/

.first_image {
    width: 100%;
    height: 550px;
    background-color: rgb(131, 233, 224);
    margin-top: 30px;
}

.title,
.site_footer {
    width: 100%;
    height: 100px;
    background-color: rgba(42, 130, 165, 0.555);
}

.row {
    background-color: beige;
}

.aside {
    width: 20%;
    height: 650px;
    background-color: paleturquoise;
    float: left;
}

.aside > .img,
.article_site > .img {
    height: 42%;
    background-color: rgba(0, 0, 255, 0.212);
}

.article_site {
    width: 56%;
    height: 650px;
    background-color: paleturquoise;
    float: left;
    margin: 0 2%;
}

/* footer
**********/
